<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oblig2B_knutlucasandersen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main activity -->
        <activity
            android:name="com.example.oblig2B_knutlucasandersen.Oblig2_DelB"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Eksterne aktiviteter fra DelA -->
        <activity android:name="com.example.oblig2A_knutlucasandersen.BokListeActivity" />
        <activity android:name="com.example.oblig2A_knutlucasandersen.RegistrerNyBokActivity" />
        <!-- Broadcastreceiver klasse som mottar broadcast -->
        <receiver
            android:name=".Kringkastningsmottaker"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.oblig2B_knutlucasandersen.REGISTRER_NY_BOK_ACTIVITY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>