<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Karaktergivende_Server_KLA</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>visonlineenheter.jsp</welcome-file>
    <welcome-file>sendmelding.jsp</welcome-file>
    <welcome-file>koblefraenhet.jsp</welcome-file>    
    <welcome-file>loggut.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrerEnhet</display-name>
    <servlet-name>RegistrerEnhet</servlet-name>
    <servlet-class>dt.hin.android.kl_andersen.RegistrerEnhet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrerEnhet</servlet-name>
    <url-pattern>/RegistrerEnhet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvregistrerEnhet</display-name>
    <servlet-name>AvregistrerEnhet</servlet-name>
    <servlet-class>dt.hin.android.kl_andersen.AvregistrerEnhet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvregistrerEnhet</servlet-name>
    <url-pattern>/AvregistrerEnhet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggInn</display-name>
    <servlet-name>LoggInn</servlet-name>
    <servlet-class>dt.hin.android.kl_andersen.LoggInn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggInn</servlet-name>
    <url-pattern>/LoggInn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMeldinger</display-name>
    <servlet-name>SendMeldinger</servlet-name>
    <servlet-class>dt.hin.android.kl_andersen.SendMeldinger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMeldinger</servlet-name>
    <url-pattern>/SendMeldinger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MottaMeldingFraEnhet</display-name>
    <servlet-name>MottaMeldingFraEnhet</servlet-name>
    <servlet-class>dt.hin.android.kl_andersen.MottaMeldingFraEnhet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MottaMeldingFraEnhet</servlet-name>
    <url-pattern>/MottaMeldingFraEnhet</url-pattern>
  </servlet-mapping>
</web-app>